<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="Container">
        <header class="Header">
          <%- include('../partials/header') %>
        </header>
        <nav class="Navigation">
          <%- include('../partials/navigation') %>
        </nav>  
        <section class="Hero">
          <h1>Welcome to CSE Motors!</h1>
        </section>
        <%- body %>
        <footer class="Footer">
            <%- include('../partials/footer') %>
          </footer>
        </div>
</body>
</html>